<div class="container">
<div class="row">
  <%= form_tag(search_index_path, method: "get") do %>
  <h2><%= label_tag(:query, "Search Resource:") %></h2>
  <%= text_field_tag(:query) %>
  <%= submit_tag("Search") %>
<% end %>
</div>
</div>
