<body data-new-gr-c-s-check-loaded="14.984.0" data-gr-ext-installed="">

    <header>
      
    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading" style = "color:black">Contact Information</h1>
          <p class="lead text-muted">Important Contact Information Below!</p>
          
          <p>
            <a href="https://www.grinnell.edu/people?staff_dept=77&faculty_dept=All" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">CLS Faculty ></a>
            <a href="https://login.microsoftonline.com/" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Grinnell Login ></a>
          </p>
        </div>
      </section>
      
      <div class = "album py-5 bg-light">
      <div class = "container">
          <div class = "row">
              <div class = "col-md-3", align = "center">
                  <img class="rounded-circle" 
                  src="https://vignette.wikia.nocookie.net/jamies-smash/images/6/64/Perry_the_platypus_by_sarrel-d3gvo02.png/revision/latest?cb=20180225121154" 
                  alt="Perry" width="140" height="140">
                  <h2 style = "color:black"> Perry </h2>
                  <p> 
                      Perry the Platypus. Perry the Platypus. Perry the Platypus. Perry the Platypus. Perry the Platypus. 
                      Perry the Platypus. Perry the Platypus. Perry the Platypus. Perry the Platypus. Perry the Platypus. 
                      Perry the Platypus. Perry the Platypus. Perry the Platypus. Perry the Platypus. Perry the Platypus. 
                  </p>
                  <p>
                      <a href = "https://www.grinnell.edu/user/sannings" class = "btn btn-primary">Contact Info</a>
                  </p>
              </div>
              <div class = "col-md-3", align = "center">
                  <img class="rounded-circle" 
                  src="https://vignette.wikia.nocookie.net/jamies-smash/images/6/64/Perry_the_platypus_by_sarrel-d3gvo02.png/revision/latest?cb=20180225121154" 
                  alt="Perry" width="140" height="140">
                  <h2 style = "color:black"> Perry </h2>
                  <p> 
                      Perry the Platypus. Perry the Platypus. Perry the Platypus. Perry the Platypus. Perry the Platypus. 
                      Perry the Platypus. Perry the Platypus. Perry the Platypus. Perry the Platypus. Perry the Platypus. 
                      Perry the Platypus. Perry the Platypus. Perry the Platypus. Perry the Platypus. Perry the Platypus. 
                  </p>
                  <p>
                      <a href = "https://www.grinnell.edu/user/sannings" class = "btn btn-primary">Contact Info</a>
                  </p>
              </div>
              <div class = "col-md-3", align = "center">
                  <img class="rounded-circle" 
                  src="https://vignette.wikia.nocookie.net/jamies-smash/images/6/64/Perry_the_platypus_by_sarrel-d3gvo02.png/revision/latest?cb=20180225121154" 
                  alt="Perry" width="140" height="140">
                  <h2 style = "color:black"> Perry </h2>
                  <p> 
                      Perry the Platypus. Perry the Platypus. Perry the Platypus. Perry the Platypus. Perry the Platypus. 
                      Perry the Platypus. Perry the Platypus. Perry the Platypus. Perry the Platypus. Perry the Platypus. 
                      Perry the Platypus. Perry the Platypus. Perry the Platypus. Perry the Platypus. Perry the Platypus. 
                  </p>
                  <p>
                      <a href = "https://www.grinnell.edu/user/sannings" class = "btn btn-primary">Contact Info</a>
                  </p>
              </div>
              <div class = "col-md-3", align = "center">
                  <img class="rounded-circle" 
                  src="https://vignette.wikia.nocookie.net/jamies-smash/images/6/64/Perry_the_platypus_by_sarrel-d3gvo02.png/revision/latest?cb=20180225121154" 
                  alt="Perry" width="140" height="140">
                  <h2 style = "color:black"> Perry </h2>
                  <p> 
                      Perry the Platypus. Perry the Platypus. Perry the Platypus. Perry the Platypus. Perry the Platypus. 
                      Perry the Platypus. Perry the Platypus. Perry the Platypus. Perry the Platypus. Perry the Platypus. 
                      Perry the Platypus. Perry the Platypus. Perry the Platypus. Perry the Platypus. Perry the Platypus. 
                  </p>
                  <p>
                      <a href = "https://www.grinnell.edu/user/sannings" class = "btn btn-primary">Contact Info</a>
                  </p>
              </div>
          </div>
      </div>
      </div>

    </main>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
  

<svg xmlns="http://www.w3.org/2000/svg" width="208" height="225" viewBox="0 0 208 225" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="11" style="font-weight:bold;font-size:11pt;font-family:Arial, Helvetica, Open Sans, sans-serif">Thumbnail</text></svg></body>