<link rel="stylesheet" type="text/css" href="funds.css">
<% @resources.each do |resource| %>
<div class="container">

    <h1><%= link_to resource.title, resource_path(resource)%></h1>

</div>
<% end %>
