.container h1 a{
  color: white !important;
  text-decoration: none !important;
}

.container h1 a:hover{
  color: white !important;
  text-decoration: underline !important;
}

.active  .collapse{
  background-color: inherit;
}

.panel-group {
  background-color: black !important;
}

.panel .panel-default {
  background-color: black !important;
}
