<body data-new-gr-c-s-check-loaded="14.984.0" data-gr-ext-installed="">
    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading" style = "color:black">Search Funds</h1>
        </div>
      </section>
      
      <div class = "album py-5 bg-light">
        <div class = "container">
          <div class = "row">
            <% @resources.each do |resource| %>
              <div class = "col-lg-3 col-md-4 col-sm-12 mb-3", align = "center">
                <div class="card" style="height: 275px;">
                  <div class="card-body">
                    <h2 style = "color:black"> <%= resource.title %></h2>
                    <p><%= truncate(resource.description, :length => 200) %><p>
                  </div>
                  <!---<div class="card-footer text-muted">
                    <%= link_to "External Link", "#{resource.web}", class: "btn btn-primary", :target => "_blank"  %>
                  </div>--->
                </div>  
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </main>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
  

<svg xmlns="http://www.w3.org/2000/svg" width="208" height="225" viewBox="0 0 208 225" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="11" style="font-weight:bold;font-size:11pt;font-family:Arial, Helvetica, Open Sans, sans-serif">Thumbnail</text></svg></body>

