<body>
  <div class="text-center">
    <h1> Resources </h1>
  </div>
  
  <div class="container">
  <div class="row">
    <%= render partial: 'layouts/funds_navbar' %>
  
  
    <!-- rendered funds -->
    <div class="card-columns">
      <% @resources.each_slice(3) do |resource_slice| %>
          <% resource_slice.each do |resource| %>
            <div class="card">
              <h5 class="card-title"><%= resource.title %></h5>
              <p class="card-text">This will be the resource description.</p>
            </div>
          <% end %>
      <% end %>
    </div>
   
  </div>
  </div> 
  
</body>

<!-- Useful sources:
https://stackoverflow.com/questions/24659471/nested-rows-with-bootstrap-grid-system
https://stackoverflow.com/questions/5304403/ruby-rails-html-create-new-table-row-after-x-cells-from-loop
-->