<link rel="stylesheet" type="text/css" href="funds.css">

  <body>
  <div class="text-center">
    <h1> Resources </h1>
  </div>
  
  <div class="container">
  <div class="row">
    
    <!-- left hand navigation bar -->
    <div class="col-sm">
    <div class="sidenav">
      <a href="#">Option 1</a>
      <a href="#">Option 2</a>
      <a href="#">Option 3</a>
      <a href="#">Option 4</a>
    </div>
    </div>
  
  
    <!-- rendered funds -->
    <div class="col-10">
      <div class="card-deck">
        <% @resources.each_slice(3) do |resource_slice| %>
          <div class="row">
            <% resource_slice.each do |resource| %>
              <div class="card",>
                <h5 class="card-title"><%= resource.title %></h5>
                <div class="card-body">
                  <p class="card-text">This will be the resource description.</p>
                </div>
              </div>
            <% end %>
          </div>    
        <% end %>
      </div>
    </div>
   
  </div>
  </div> 
  
  </body>

<!-- Useful sources:
https://stackoverflow.com/questions/24659471/nested-rows-with-bootstrap-grid-system
https://stackoverflow.com/questions/5304403/ruby-rails-html-create-new-table-row-after-x-cells-from-loop
-->