<link rel="stylesheet" type="text/css" href="home.scss">
<body class = "bg">
  <div class="view" aria-label = "Behind title, a picture of trees in fall and a red brick building.">
    <div class="container">
      <div class="jumbotron">
      <a style = "color:white;">Find Your Fund</a>
      </div>
    </div>
  </div>

</body>