<link rel="stylesheet" type="text/css" href="home.scss">
<body class = "bg">
  <div class="view" aria-label = "Behind title, a picture of trees in fall and a red brick building.">
    <div class="container" style="text-align: center;">
      <div class="jumbotron">
      <h1 class="home-text">Find Your Fund</h1>
      </div>
    </div>
  </div>

</body>