/* Grinnell Red ;)
$primary: #D81E05;
 */

/*
 *= require bootstrap
 *= require_tree .
 *= require_self
*/

@import url('http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: black;
  overflow-x: hidden;
  font-family: "Futura";
}

body#dark {
  background-color: lighten(black, 15%);
}

body#light {
  background-color: white;
}

.container .jumbotron {
  background-color: transparent;
}


.container .jumbotron a {
  -webkit-text-stroke: 2px black;
  font-size: 128px;
  text-decoration: none;
  color: white;
}

div-small {
  padding: 64px;
  display: block;
}

h1-main {
  font-size: 26;
  color: black;
}

.active .collapse {
  background-color: inherit;
}

a {
  text-decoration: none !important;
}

h2 a {
  color: black !important;
}

p a {
  color: black !important;
}

.container1 .jumbotron1 {
  background-color: white;
}
