/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * Bootstrap provides good defaults for styling and some basic widgets.
 *
 * You're free to add application-wide styles to this file.
 *
 * Any overrides to Bootstrap variables should come before the import statement.
 */

/* Grinnell Red ;)
$primary: #D81E05;
 */

/*
 *= require bootstrap
 *= require_tree .
 *= require_self
*/

@import url('http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext');


.navbar {
  background-color: black !important;
  vertical-align: middle;
}

.navbar-brand {
  width:150px;
  margin-left: 50px !important;
}

div#mainNavbar ul li a{
  color: white !important;
  font-size: 18px !important;
  font-family: "Futura";
  text-decoration: none;
}

h1, h2, h3, li {
  color: white;
}

body {
  background-color: black;
  overflow-x: hidden;
}


.container .jumbotron {
  background-color: transparent;
}


.container .jumbotron a {
  -webkit-text-stroke: 2px black;
  color: white;
  font-size: 128px;
  text-decoration: none;
}

div-small {
  padding: 64px;
  display: block;
}

span {
  padding: 128px;
}

h1-main {
  font-size: 26;
  color: black;
}

.active  .collapse{
  background-color: inherit;
}

a {
  font-size: 32px;
  color: white !important;
  text-decoration: none !important;
}

.container1 .jumbotron1 {
  background-color: white;
}

.btn1 {
    font-family: "Futura", sans-serif;
    border-radius: 8px;
    text-align: center;
    padding: 40px;
    font-size: 35px;
    color: white;
    border: 2px solid black;
    background: #D81E05;
}