.bg {
    background: url("https://www.cappex.com/sites/default/files/images/hero/college/153384_hero.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    text-align: center;
}