.card-title {
  font-family: "Roboto";
  font-size: 18px;
  padding-top: 10px;
  color: black;
  text-align: center;
}

.card-text {
  font-family: "Roboto";
  color: black;
  font-size: 14px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.text-center {
  font-family: "Futura";
  font-size: 30px;
}

.form-check {
  padding-left: 40px;
}

.form-check-label {
  color: white;
  font-family: "Futura";
  stroke: 100;
  font-size: 16px;
}

#search_bar {
  text-align: center;
  padding: 20px;
}

body {
  font-family: "Lato", sans-serif;
}

#narrow-search {
  text-align: center;
  padding-bottom: 2em;
}

#dark .btn-primary {
  color: white;
  background-color: black;
  border: black;
}

#light .btn-primary {
  color: white;
}

#dark .album {
  background-color: black !important;
}

.checkbox-text {
  font-size: 12px;
}

#dark .checkbox-text {
  color: white;
}

.black-link {
  color: black !important;
}

h2 a {
  color: black !important;
}

p a {
  color: black !important;
}