.card-title {
  font-family: "Roboto";
  font-size: 18px;
  padding-top: 10px;
  color: black;
  text-align: center;
}

.card-text {
  font-family: "Roboto";
  color: black;
  font-size: 14px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.text-center {
  font-family: "Futura";
  font-size: 30px;
}

#search_bar {
  text-align: center;
  padding: 20px;
}

body {
  font-family: "Lato", sans-serif;
}

#narrow-search {
  text-align: center;
  padding-bottom: 2em;
}

#dark .btn-primary {
  color: white;
  background-color: black;
  border: black;
}

#light .btn-primary {
  color: white;
}

#dark .album {
  background-color: black !important;
}

.checkbox-text {
  font-size: 12px;
  margin-right: 7px;
  vertical-align: middle;
}

#dark .checkbox-text {
  color: white;
}

.black-link {
  color: black !important;
}

h2 a {
  color: black !important;
}

p a {
  color: black !important;
}

#dark .btn-dark {
  height: 40px;
  color: black;
  background: white;
  text-shadow:none !important;
}
